.product-details {
    float: left;
    margin-right: 50px;
    font-size: large;
    
}

.product-image {
    float: right;
    max-width: 400px;
    max-height: 400px;
}



.product-item {
    padding: 10px;
    margin: 10px;
    border: 2px solid;
    display:flex;
    text-align:left;
    gap: 65%;
  }

  p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
  }
