.product-details {
    float: left;
    margin-right: 40%;
    font-size: large;
    
}

.product-image {
    float: right;
    max-width: 400px;
    max-height: 400px;
}



.product-item {
    padding: 10px;
    margin: 10px;
    border: 1px solid;
    display: flex;
    text-align: center;
    gap: 30px;
  }